* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.container {
  height: 90vh;
  padding-left: 10px;
  border-bottom: 3px solid;
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
}
img {
  background-color: transparent;
  height: 90px;
}
button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: orangered;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.ball {
  animation: ballmove 5s forwards linear;
}
@keyframes ballmove {
  20% {
    transform: translate(300px, 250px) rotate(1turn);
  }
  40% {
    transform: translate(600px, 0px) rotate(2turn);
  }
  60% {
    transform: translate(900px, 250px) rotate(3turn);
  }
  79.99% {
    transform: translate(1200px, 0px) rotate(4turn);
  }
  80% {
    transform: translate(1200px, 0px);
  }

  100% {
    transform: translate(1200px, 0px);
  }
}
